@{
    ViewData["Title"] = "Home Page";
}
@model TreeViewModel

<div class="text-center">
    <h1 class="display-4">All Categories</h1>
</div>

<div>
    <ul>
        @foreach (Category category in Model.Categories)
        {
            <li>@category.CategoryName</li>
            <ul>
                @if (category.SubCategories != null)
                {

                    @foreach (Category subCategory in category.SubCategories)
                    {
                        <li>@subCategory.CategoryName</li>
                        <ul>
                            @if (subCategory.Goods != null)
                            {
                                @foreach (Goods goods in subCategory.Goods)
                                {
                                    <li>@goods.GoodsName</li>
                                }
                                <a href="Categories/NewGoods?subCategoryId=@subCategory.ID">Add Product</a>
                            }
                        </ul>
                    }
                    <a href="Categories/index?categoryId=@category.ID">Add SubCategory</a>
                }
                else if (category.Goods != null)
                {
                    @foreach (Goods goods in category.Goods)
                    {
                        <li>@goods.GoodsName</li>
                    }
                    <a href="Categories/NewGoods?subCategoryId=@category.ID">Add Product</a>
                }
            </ul>
        }
        <a href="Categories/index?categoryId=-1">Add Root Category</a>
    </ul>    
</div>

@if (Model.CategoryId != null)
{
<form action="/Categories/AddCategory" method="post">
    <input type="hidden" name="categoryId" value="@Model.CategoryId" />
    <div>
        <label>Category Name</label>
        <input type="text" name="categoryName" value="" />

    </div>
    <div>
        <input type="submit" name="" value="Save" />
    </div>
</form>
}



